* {
  font-family: "Poppins", sans-serif;
}
.banner {
  background-image: url(/image/laptop\,\ notes.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 95vh;
  padding: 250px 0;
  color: white;
}
.custom-width {
  width: 60%;
  max-width: 100%;
  border-radius: 5%;
}
.nav-link {
  color: rgba(0, 0, 0, 0.786);
}
.nav-link:hover,
.nav-link:focus {
  color: black;
}
